body{
  margin: 0;
  padding:0;
}
body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}
 

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: normal;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.commentForm {
  position: absolute;
  float: center;
  width: 450px;
  height: 450px;
  left: 250px;
  right:50px;
  bottom: 50px;
  border:1px solid black;
}
.your-name{
  position: absolute;
  top:10px;
  left:20px;
  width: 395px;
  padding-left: 15px;
}
.form-control{
  position: relative;
  top:35px;
  left:20px;
  width: 400px;
  height: 300px;
  padding-left: 10px;
  padding-top:15px;
}
.btn-submit{
  position: relative;
  float: right;
  margin-top:40px;
  margin-right: 10px;
  text-align: center;
  
}

.commentList{
  border:1px solid black;
}
.commentAuthor{
  position: static;
  float: left;
  text-align: center;
  font-family: italic;
  font-weight: bold;
  font-size:1.2em;
  border: 1px solid black;
  padding: 10px;
  
}

.comment {
  position: relative;
  padding: 10px;
  padding-left: 25px;
  margin-left: 10px;
  border: 1px solid black''
}