body{
  margin: 0;
  padding:0;
}

/*
body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}
 

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: normal;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}
*/


.comment{
  position: static;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    width: 80%;
}
.commentAuthor{
  position: relative;
  display: inline-block;
  border:1px solid black;
  width: 15%;
  height: 100px;
  margin: 5px;
  text-align: left;
  padding: 5px 0px 0px 15px;
 
}
.text-content{
  position: relative;
  top:15px;
  display:inline-block;
  width: 80%;
  height: 100px;
   margin-left:10px;
   border:1px solid black;
   text-align: left;
   padding:5px 0px 0px 15px;
}

.commentForm {
  position: relative;
  width: 450px;
  height: 450px;
  left: 250px;
  right:50px;
  bottom: 50px;
  margin: 100px;
  border:1px solid black;
  clear: both;
}
.your-name{
  position: relative;
  top:10px;
  left:20px;
  width: 84%;
  padding: 15px;
}
.form-control{
  position: relative;
  top:35px;
  left:20px;
  width: 400px;
  height: 300px;
  padding-left: 10px;
  padding-top:15px;
}
.btn-submit{
  position: relative;
  float: right;
  margin-top:40px;
  margin-right: 10px;
  text-align: center;
  
}